html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

// body
body {
    width: 100%;
    max-width: 1500px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;

    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

// standart margin remover
h1, h2, h3, h4, h5, h6, ul, p, img {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

// list style remover
ul {
    list-style: none;
}

.section {
    width: 100%;
    max-width: 1500px;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    & :not(:last-child) {
        margin-bottom: 50px;
    }
}

.gallery {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    background-color: teal;
    & :nth-child(-n + 8) {
        margin-bottom: 30px;
    }
    & :nth-child(n + 8) {
        margin-bottom: 0;
    }
}